.c-note-form {
  width: 480px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  padding: 24px;
  transition: all 0.25s ease-out;
}

.c-note-form form {
  display: flex;
  flex-direction: column;
}

.note-title-input,
.note-body-input {
  font-size: 14px;
  padding: 16px;
}

.c-color-selector {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 16px;
}
.c-color-selector__item {
  width: 36px;
  height: 36px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}
.c-color-selector__item:hover {
  cursor: pointer;
}
.c-color-selector__item--selected {
  border-width: 4px;
}
.c-color-selector__item--white {
  background-color: white;
}
.c-color-selector__item--beige {
  background-color: beige;
}
.c-color-selector__item--darksalmon {
  background-color: darksalmon;
}
